
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{

font-family: 'Work Sans', sans-serif;
  }
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
  }
  nav > ul{
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }
  .banner-con{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    cursor: #131313;
  }
  .light-gray{
    color:  #727272;

  }
.btn-praimary{
    color: #fff;
    font-size: 1.25rem;
    border-radius: 8px;
background: #FF900E;
padding: 20px 25px;
cursor: pointer;
border: 0;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}


main{
  max-width: 1440px;
  margin: 70 auto;
  padding-left: 100px;
 padding-right: 100px;
}
.teams-con{
  display: flex;
  align-items: center;
 
  
}
.teams-img-con{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams-content{
  padding-left: 70px;
  

}
.teams-title{
  font-size: 2.8rem;
}
.teams-title .q-l{
  font-weight: 500;
}
.teams-title .f-e{
  color:  #FF900E;
  font-weight: 700px;

}

.features{
  margin-top: 130px;
  gap: 100px;
  display: flex;
}
.features-content .card{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.facts-card-con{
  display: flex;
  justify-content: space-around;
}

.facts-card-con .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
}
.facts-card-con .card-title{
  font-weight: 700;
  color: #727272;
  font-size: 20px;
}
.facts-card-con .card-stats{
  font-size: 2.8rem;
  color: #424242;
margin-top: 10px;
margin-bottom: 10px;
}
.sponsors{
  text-align: center;
}
.sponsors-img-con{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  margin-top: 50px
  
  
}
.sponsors-img-con .img{
  width: 165px;
}





@media screen and (max-width: 576px) {
  header{
      padding: 20px;
  }
  nav,
  .teams-con,
  .facts-card-con,
  .sponsors-img-con
  {
      flex-direction: column;
  }
  .teams-img-con{
    grid-template-columns: 1fr;
  }
  
}
@media screen and (min-width: 576px)  and (max-width: 960px) {
  header{
      padding: 50px;
  }
  nav,
  .teams-con, .facts-card-con{
      flex-direction: column;
  }
}